<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todolist</title>
    <link rel="stylesheet" href="http://localhost:8000/index.css" />
  </head>
  <body>
    <div class="container_tache">
      <div class="container_connect">
        <input id="login" value="" type="text" placeholder="login" />
        <input id="password" value="" type="text" placeholder="password" />
      </div>
      <div class="container_tache">
        <input
          value=""
          disabled="disabled"
          id="id"
          type="text"
          placeholder="iduser"
        />
        <input value="" id="idtache" type="text" placeholder="idtache" />
        <input value="" id="nom" type="text" placeholder="nom" />
        <input
          value=""
          id="description"
          type="text"
          placeholder="description"
        />
      </div>
      <div class="container_tache">
          <div>
          <button onclick="fetchlogin()">login</button>
          <button onclick="fetchdeconnexion()">deco</button>
        </div>  
        <div>
          <button onclick="fetchupdate()">update</button>
          <button onclick="fetchdelete()">delete</button>

          <button onclick="fetchtodo()">creer</button>
        </div>

    
      </div>
    </div>
    <div id="tacheRepertoire" class="container"></div>
  </body>
  <script src="http://localhost:8000/login.js"></script>
</html>
