<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>todo</title>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    ></script>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <a href="/login">login</a>
    <form id="tache" method="POST" action="/todo">
      <input placeholder="nom de la tache" id="nom1" name="nom" type="text" />
      <input type="text" placeholder= "description" description"
      id="description1" />
      <input
        type="text"
        placeholder="utilisateur"
        name="idutilisateur"
        id="idutilisateur1"
      />
      <input type="text" placeholder="idtache" id="idtacheremplacant" />
      <input type="submit" value="tache ajoutée" />
      <input type="submit" form="updatetache" value="update" />
    </form>
    <form id="updatetache" method="POST" action="/updatetache">
      <input placeholder="nom de la tache" id="nom" name="nom" type="text" />
      <input
        placeholder="description"
        type="text"
        name="description"
        id="description"
      />
      <input
        placeholder="utilisateur"
        type="text"
        name="idutilisateur"
        id="idutilisateur"
      />
      <input
        placeholder="id de la tache"
        type="text"
        name="idtache"
        id="idtache"
      />
      <input type="submit" value="modifier tache" />
    </form>
    <script>
      idtache = (e) => (
        $("#idtacheremplacant").val(e.children[1].innerHTML),
        $("#idtache").val(e.children[1].innerHTML),
        $("#nom").val(e.children[2].innerHTML),
        $("#description").val(e.children[3].innerHTML),
        $("#nom1").val(e.children[2].innerHTML),
        $("#description1").val(e.children[3].innerHTML)
      );

      function quiestu() {
        $.getJSON("/qui", function (data) {
          console.log(data);
          $()

          alert(
            "Vous êtes : " +
              data.message.email +
              "votre id est :" +
              data.message.idutilisateur
          );
        });
      }
      $(document).ready(function () {
        quiestu();

        $("#updatetache").hide();
        $("#tache").submit(function (e) {
          form = $(this);
          var url = form.attr("action");
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
              alert(JSON.stringify(data));
              ///   alert(data); // show response from the php script.
            },
            error: function (data) {
              alert(data.message);
            },
          });
        });
        $("#updatetache").submit(function (e) {
          $("#idtache").val($("#idtacheremplacant").val());
          $("#nom").val($("#nom1").val());
          $("#description").val($("#description1").val());
          $("#idutilisateur").val($("#idutilisateur1").val());
          form = $(this);
          var url = form.attr("action");
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
              alert(JSON.stringify(data));
              ///   alert(data); // show response from the php script.
            },
            error: function (data) {
              alert(data.message);
            },
          });
        });
        var myusername = $("#username").val();
        $.ajax({
          type: "GET",
          url: "/tache2",
          data: myusername,
          cache: false,
          success: function (data) {
            data.message.forEach((element) =>
              $("#resultarea").append(
                "<div class=datetache onclick=idtache(this)>" +
                  "<div class='tachedate' '>" +
                  JSON.stringify(element.date) +
                  "</div>" +
                  "<div class='tachesonid' '>" +
                  JSON.stringify(element.idtache) +
                  "</div>" +
                  "<div class='nom' >" +
                  JSON.stringify(element.nom) +
                  "</div>" +
                  "<div class='description' '>" +
                  JSON.stringify(element.description) +
                  "</div>" +
                  "</div>"
              )
            );
            // $("#resultarea").text(JSON.stringify(data));
          },
        });
      });
    </script>
    <div id="resultarea"></div>
    <style>
      #resultarea {
        margin-top: 100px;
        display: grid;
        grid-template-rows: auto auto auto auto;
      }

      .datetache,
      .tachesonid,
      .nom,
      .description {
        width: 300px;
        grid-column-start: 1;
        border: solid 2px blue;
        box-shadow: rosybrown 2px 2px;
      }
      .tachesonid,
      .nom,
      .description {
        width: 150px;
      }
      input {
        width: 300px;
      }
    </style>
  </body>
</html>
