*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container_connect, .container_tache{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;

}


.container div, .container_tache div{
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    
}
.container div{
    font-family:"Helvetica", sans-serif;
    font-size:30px;
    background: #3e3e3e;
    color: #ffffff;
   margin: 1em;
padding: 1em;
   
    position: relative;
    top: 40px;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #ababab;
    border-bottom: 3px solid #ababab;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  }
label{
    font-family: sans-serif;
     letter-spacing: 6px;
     text-transform: uppercase;
     font-size: .8em;
     color: #FFF;
   }
   
   input[type=text]{
     display: inline-block;
     border: none;
     text-align: left;
     box-shadow: 3px 2px rgba(121, 83, 210,.3 );
     padding: 10px;
     width: 350px;
     margin: 10px 0;
     background: transparent;
     color: #FFF;
   }
   
   input[type=text]:focus{
     background: none;
     border: none;
     color: #FFF;
   }
   
   button{
     background: transparent;
     color: #FFF;
     font-family: sans-serif;
     text-transform: uppercase;
     letter-spacing: 3px;
     margin: 20px 0;
     padding: 10px 30px;
     border: 2px solid #FFF;
   }
   body{
    background: #000070;
  }
   button:hover{
     background: transparent;
     border: 2px solid rgba(69, 39, 160, .4);
   }
